@import "dom.pcss";
@import "fonts.pcss";

.go-to-index {
  padding: 4px 80px;
  outline: 0;
  background-color: #fafafa;
  &:hover {
    cursor: pointer;
  }
}

.user-avatar {
  max-width: 100px;
  max-height: 100px;
  &__empty {
    width: 100px;
    height: 100px;
    background-color: #063234;
    opacity: 0.5;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
  }
  img {
    width: 100%;
    height: 100%;
  }
}